# Ignore log files
log

# Ignore temporary files
tmp

# Ignore autogenerate files
public/index.html
public/js/all.js
public/css/all.css

# Ignore cache files
.sass-cache

# Ignore personalized config files
config/bridge.yml

# Ignore installed library by npm
node_modules

# Ignore installed library by bower
public/js/ext
