@charset "UTF-8";
/* line 2, ../scss/editors.scss */
.editor .button {
  background: #fcfcfc;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fcfcfc 0%, #ebebeb 50%, #dddddd 50%, #cfcfcf 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(50%, #ebebeb), color-stop(50%, #dddddd), color-stop(100%, #cfcfcf));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #ebebeb 50%, #dddddd 50%, #cfcfcf 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcfcfc 0%, #ebebeb 50%, #dddddd 50%, #cfcfcf 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcfcfc 0%, #ebebeb 50%, #dddddd 50%, #cfcfcf 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fcfcfc 0%, #ebebeb 50%, #dddddd 50%, #cfcfcf 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#cfcfcf',GradientType=0 );
  /* IE6-9 */
  border: solid 1px #707070;
  border-radius: 3px;
  cursor: pointer;
  /* ボタンをダブルクリックした際のテキスト選択を不可に設定 */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/* line 23, ../scss/editors.scss */
.editor .button:hover {
  background: #fafdfe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fafdfe 0%, #d9f0fc 50%, #bee6fd 50%, #a7d9f5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafdfe), color-stop(50%, #d9f0fc), color-stop(50%, #bee6fd), color-stop(100%, #a7d9f5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fafdfe 0%, #d9f0fc 50%, #bee6fd 50%, #a7d9f5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fafdfe 0%, #d9f0fc 50%, #bee6fd 50%, #a7d9f5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fafdfe 0%, #d9f0fc 50%, #bee6fd 50%, #a7d9f5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fafdfe 0%, #d9f0fc 50%, #bee6fd 50%, #a7d9f5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafdfe', endColorstr='#a7d9f5',GradientType=0 );
  /* IE6-9 */
  border: solid 1px #3c7fb1;
}
/* line 36, ../scss/editors.scss */
.editor .button:active {
  background: #e5f4fc;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e5f4fc 0%, #c4e5f6 50%, #98d1ef 50%, #68b3db 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5f4fc), color-stop(50%, #c4e5f6), color-stop(50%, #98d1ef), color-stop(100%, #68b3db));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5f4fc 0%, #c4e5f6 50%, #98d1ef 50%, #68b3db 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5f4fc 0%, #c4e5f6 50%, #98d1ef 50%, #68b3db 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5f4fc 0%, #c4e5f6 50%, #98d1ef 50%, #68b3db 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e5f4fc 0%, #c4e5f6 50%, #98d1ef 50%, #68b3db 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5f4fc', endColorstr='#68b3db',GradientType=0 );
  /* IE6-9 */
  border: solid 1px #2c628b;
}
/* line 49, ../scss/editors.scss */
.editor .button {
  display: inline-block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  font-size: 14px;
  margin: 1px;
  padding: 7px;
}
/* line 59, ../scss/editors.scss */
.editor .button.concave {
  background: #9cf;
  border: solid 1px #707070;
  color: #2c32cb;
}
/* line 68, ../scss/editors.scss */
.editor .button.disable {
  background: #999;
  border: solid 1px #707070;
  cursor: default;
}
/* line 74, ../scss/editors.scss */
.editor .component {
  overflow: hidden;
}
/* line 78, ../scss/editors.scss */
.editor svg {
  position: absolute;
}
/* line 82, ../scss/editors.scss */
.editor .header {
  background-color: #eee;
  border-bottom: solid 1px #666;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 40px;
  padding: 3px;
}
/* line 94, ../scss/editors.scss */
.editor .header ul {
  float: left;
  margin-right: 10px;
}
/* line 97, ../scss/editors.scss */
.editor .header ul > li {
  float: left;
}
/* line 102, ../scss/editors.scss */
.editor .header ul.right {
  float: right;
}
/* line 107, ../scss/editors.scss */
.editor .main {
  position: absolute;
  left: 0px;
  top: 40px;
  bottom: 20px;
  width: 100%;
  height: auto;
}
/* line 116, ../scss/editors.scss */
.editor .footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 20px;
  background-color: #eee;
  border-top: solid 1px #666;
  margin: 0px;
  padding: 0px;
}
/* line 129, ../scss/editors.scss */
.editor .toolbox {
  padding: 0px;
}
/* line 132, ../scss/editors.scss */
.editor .toolbox li.button {
  float: left;
}
/* line 140, ../scss/editors.scss */
.editor .middlewares table thead .type {
  width: 100px;
}
/* line 141, ../scss/editors.scss */
.editor .middlewares table thead .id {
  width: 100px;
}
/* line 142, ../scss/editors.scss */
.editor .middlewares table thead .name {
  width: 100px;
}
/* line 143, ../scss/editors.scss */
.editor .middlewares table thead .delete {
  width: 30px;
  vertical-align: middle;
}
/* line 146, ../scss/editors.scss */
.editor .middlewares table tbody tr:nth-child(4n+1), .editor .middlewares table tbody tr:nth-child(4n+2) {
  background-color: #dee0ff;
}
/* line 149, ../scss/editors.scss */
.editor .middlewares table tbody .delete {
  text-align: center;
  vertical-align: middle;
}
/* line 156, ../scss/editors.scss */
.editor .middlewares input, .editor .middlewares select {
  width: 100%;
}
/* line 164, ../scss/editors.scss */
.editor .roles table thead .type {
  width: 100px;
}
/* line 165, ../scss/editors.scss */
.editor .roles table thead .id {
  width: 100px;
}
/* line 166, ../scss/editors.scss */
.editor .roles table thead .name {
  width: 100px;
}
/* line 167, ../scss/editors.scss */
.editor .roles table thead .runlist-url {
  width: 100px;
}
/* line 168, ../scss/editors.scss */
.editor .roles table thead .dependencies {
  width: 30px;
  vertical-align: middle;
}
/* line 169, ../scss/editors.scss */
.editor .roles table thead .user-input-keys {
  width: 30px;
  vertical-align: middle;
}
/* line 170, ../scss/editors.scss */
.editor .roles table thead .delete {
  width: 30px;
  vertical-align: middle;
}
/* line 173, ../scss/editors.scss */
.editor .roles table tbody tr:nth-child(4n+1), .editor .roles table tbody tr:nth-child(4n+2) {
  background-color: #dee0ff;
}
/* line 176, ../scss/editors.scss */
.editor .roles table tbody .dependencies {
  text-align: center;
  vertical-align: middle;
}
/* line 181, ../scss/editors.scss */
.editor .roles table tbody .user-input-keys {
  text-align: center;
  vertical-align: middle;
}
/* line 186, ../scss/editors.scss */
.editor .roles table tbody .delete {
  text-align: center;
  vertical-align: middle;
}
/* line 193, ../scss/editors.scss */
.editor .roles input, .editor .roles select {
  width: 100%;
}
/* line 201, ../scss/editors.scss */
.editor .dependencies table thead .middleware {
  width: 100px;
}
/* line 202, ../scss/editors.scss */
.editor .dependencies table thead .delete {
  width: 30px;
  vertical-align: middle;
}
/* line 205, ../scss/editors.scss */
.editor .dependencies table tbody tr:nth-child(odd) {
  background-color: #dee0ff;
}
/* line 208, ../scss/editors.scss */
.editor .dependencies table tbody .delete {
  text-align: center;
  vertical-align: middle;
}
/* line 215, ../scss/editors.scss */
.editor .dependencies select {
  width: 100%;
}
/* line 223, ../scss/editors.scss */
.editor .user-input-keys table thead .key {
  width: 100px;
}
/* line 224, ../scss/editors.scss */
.editor .user-input-keys table thead .delete {
  width: 30px;
  vertical-align: middle;
}
/* line 227, ../scss/editors.scss */
.editor .user-input-keys table tbody tr:nth-child(odd) {
  background-color: #dee0ff;
}
/* line 230, ../scss/editors.scss */
.editor .user-input-keys table tbody .delete {
  text-align: center;
  vertical-align: middle;
}
/* line 237, ../scss/editors.scss */
.editor .user-input-keys input {
  width: 100%;
}
/* line 245, ../scss/editors.scss */
.editor .parameters table thead .key {
  width: 100px;
}
/* line 246, ../scss/editors.scss */
.editor .parameters table thead .value {
  width: 100px;
}
/* line 247, ../scss/editors.scss */
.editor .parameters table thead .delete {
  width: 30px;
}
/* line 250, ../scss/editors.scss */
.editor .parameters table tbody .delete {
  padding: 0px 5px;
  text-align: center;
}
/* line 257, ../scss/editors.scss */
.editor .parameters input {
  width: 100%;
}
/* line 263, ../scss/editors.scss */
.editor .property label {
  width: 130px;
  text-align: right;
}
/* line 268, ../scss/editors.scss */
.editor .property input[type='input'] {
  width: 200px;
}
/* line 276, ../scss/editors.scss */
.editor .network-filters table thead .id, .editor .machine-filters table thead .id {
  width: 100px;
}
/* line 277, ../scss/editors.scss */
.editor .network-filters table thead .protocol, .editor .machine-filters table thead .protocol {
  width: 100px;
}
/* line 278, ../scss/editors.scss */
.editor .network-filters table thead .port, .editor .machine-filters table thead .port {
  width: 100px;
}
/* line 279, ../scss/editors.scss */
.editor .network-filters table thead .delete, .editor .machine-filters table thead .delete {
  width: 30px;
  vertical-align: middle;
}
/* line 283, ../scss/editors.scss */
.editor .network-filters table tbody .id .stretchable, .editor .machine-filters table tbody .id .stretchable {
  width: 100%;
  float: left;
}
/* line 287, ../scss/editors.scss */
.editor .network-filters table tbody .id .content, .editor .machine-filters table tbody .id .content {
  margin-right: 37px;
}
/* line 291, ../scss/editors.scss */
.editor .network-filters table tbody .id .button, .editor .machine-filters table tbody .id .button {
  margin: 0px 0px 0px -31px;
}
/* line 295, ../scss/editors.scss */
.editor .network-filters table tbody tr:nth-child(4n+1), .editor .network-filters table tbody tr:nth-child(4n+2), .editor .machine-filters table tbody tr:nth-child(4n+1), .editor .machine-filters table tbody tr:nth-child(4n+2) {
  background-color: #dee0ff;
}
/* line 298, ../scss/editors.scss */
.editor .network-filters table tbody .delete, .editor .machine-filters table tbody .delete {
  text-align: center;
  vertical-align: middle;
}
/* line 305, ../scss/editors.scss */
.editor .network-filters input, .editor .network-filters select, .editor .machine-filters input, .editor .machine-filters select {
  width: 100%;
}
/* line 313, ../scss/editors.scss */
.editor .routing table thead .id {
  width: 100px;
}
/* line 314, ../scss/editors.scss */
.editor .routing table thead .destination {
  width: 100px;
}
/* line 315, ../scss/editors.scss */
.editor .routing table thead .target {
  width: 100px;
}
/* line 316, ../scss/editors.scss */
.editor .routing table thead .delete {
  width: 30px;
  vertical-align: middle;
}
/* line 319, ../scss/editors.scss */
.editor .routing table tbody tr:nth-child(odd) {
  background-color: #dee0ff;
}
/* line 322, ../scss/editors.scss */
.editor .routing table tbody .delete {
  text-align: center;
  vertical-align: middle;
}
/* line 329, ../scss/editors.scss */
.editor .routing input, .editor .routing select {
  width: 100%;
}
/* line 337, ../scss/editors.scss */
.editor .router-nats table thead .id {
  width: 100px;
}
/* line 338, ../scss/editors.scss */
.editor .router-nats table thead .source {
  width: 100px;
}
/* line 339, ../scss/editors.scss */
.editor .router-nats table thead .destination {
  width: 100px;
}
/* line 340, ../scss/editors.scss */
.editor .router-nats table thead .delete {
  width: 30px;
  vertical-align: middle;
}
/* line 343, ../scss/editors.scss */
.editor .router-nats table tbody tr:nth-child(odd) {
  background-color: #dee0ff;
}
/* line 346, ../scss/editors.scss */
.editor .router-nats table tbody .delete {
  text-align: center;
  vertical-align: middle;
}
/* line 353, ../scss/editors.scss */
.editor .router-nats input, .editor .router-nats select {
  width: 100%;
}
/* line 359, ../scss/editors.scss */
.editor .save-dialog input[name='repository'] {
  width: 100px;
}
/* line 367, ../scss/editors.scss */
.editor .monitorings table thead .id {
  width: 100px;
}
/* line 368, ../scss/editors.scss */
.editor .monitorings table thead .delete {
  width: 30px;
  vertical-align: middle;
}
/* line 371, ../scss/editors.scss */
.editor .monitorings table tbody tr:nth-child(odd) {
  background-color: #dee0ff;
}
/* line 374, ../scss/editors.scss */
.editor .monitorings table tbody .delete {
  text-align: center;
  vertical-align: middle;
}
/* line 381, ../scss/editors.scss */
.editor .monitorings select {
  width: 100%;
}
/* line 389, ../scss/editors.scss */
.editor .monitoring_templates table thead .id {
  width: 100px;
}
/* line 390, ../scss/editors.scss */
.editor .monitoring_templates table thead .name {
  width: 100px;
}
/* line 391, ../scss/editors.scss */
.editor .monitoring_templates table thead .url {
  width: 100px;
}
/* line 392, ../scss/editors.scss */
.editor .monitoring_templates table thead .type {
  width: 50px;
}
/* line 393, ../scss/editors.scss */
.editor .monitoring_templates table thead .delete {
  width: 30px;
  vertical-align: middle;
}
/* line 396, ../scss/editors.scss */
.editor .monitoring_templates table tbody tr:nth-child(odd) {
  background-color: #dee0ff;
}
/* line 399, ../scss/editors.scss */
.editor .monitoring_templates table tbody .delete {
  text-align: center;
  vertical-align: middle;
}
/* line 406, ../scss/editors.scss */
.editor .monitoring_templates input, .editor .monitoring_templates select {
  width: 100%;
}
/* line 412, ../scss/editors.scss */
.editor .ui-dialog .ui-dialog-titlebar {
  padding: 0em 0.2em;
  height: 20px;
}
/* line 415, ../scss/editors.scss */
.editor .ui-dialog .ui-dialog-titlebar span.ui-dialog-title {
  margin: 0px;
  font-size: 90%;
}
/* line 420, ../scss/editors.scss */
.editor .ui-dialog .ui-dialog-titlebar button {
  right: 0.1em;
  margin: -10px 0 0 0;
  width: 16px;
  height: 16px;
}
/* line 429, ../scss/editors.scss */
.editor .cover {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  position: absolute;
  z-index: 200;
}
/* line 439, ../scss/editors.scss */
.editor .detail th {
  text-align: right;
  padding-right: 5px;
}
/* line 444, ../scss/editors.scss */
.editor .detail input[type='input'] {
  width: 200px;
}
/* line 448, ../scss/editors.scss */
.editor .detail input[type='range'] {
  width: 200px;
}
/* line 453, ../scss/editors.scss */
.editor .detail table input[type='text'], .editor .detail table select {
  width: 100%;
}
/* line 459, ../scss/editors.scss */
.editor .scrollable {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  overflow-y: scroll;
}
/* line 468, ../scss/editors.scss */
.editor .xml-viewer {
  padding: 0px;
}
/* line 471, ../scss/editors.scss */
.editor .xml-viewer pre {
  overflow-y: scroll;
  width: auto;
  height: auto;
  top: 3px;
  bottom: 1px;
  right: 1px;
  left: 1px;
  position: absolute;
  margin: 0px;
  padding: 4px;
}
/* line 485, ../scss/editors.scss */
.editor .selectArea {
  cursor: default;
}

/* line 491, ../scss/editors.scss */
.editor-with-header {
  position: absoltue;
  top: 80px;
}
/* line 495, ../scss/editors.scss */
.editor-with-header .header {
  top: 80px;
}
/* line 499, ../scss/editors.scss */
.editor-with-header .main {
  top: 120px;
  bottom: 20px;
}

/* 読み取り専用で表示する場合はJointJS側の挙動を一部制限する */
/* line 508, ../scss/editors.scss */
.readonly g, .readonly path {
  cursor: default !important;
}
/* line 511, ../scss/editors.scss */
.readonly .magnet:hover {
  opacity: 1;
}
/* line 518, ../scss/editors.scss */
.readonly .link:hover .marker-vertices,
.readonly .link:hover .marker-arrowheads,
.readonly .link:hover .link-tools,
.readonly .link:hover .connection-wrap {
  opacity: 0;
}
