<%
  var breadcrumb = [];
  breadcrumb.push({ url: "#templates", label: i18n.t("template.index.template_list")});
  breadcrumb.push({ url: "#templates/" + id, label: name});
%>
<%= this.partial('common/menu', { breadcrumb: breadcrumb })%>
<div class="editor editor-with-header">
</div>
