<tr>
  <td class="id"><input type="text" name="id" value="" placeholder="ID"></td>
  <td class="name"><input type="text" name="name" value="" placeholder="Name"></td>
  <td class="url"><input type="text" name="url" value="" placeholder="URL"></td>
  <td class="type">
    <select name="type">
      <option><%- App.Components.MonitoringTemplates.Type.zabbix %></option>
    </select>
  </td>
  <td class="delete"></td>
</tr>
