<div class="scrollable">
  <table class="table table-bordered index-table table-condensed">
    <thead>
      <tr>
        <th class="middleware">Middleware</th>
        <th class="delete">Delete</th>
      </tr>
    </thead>
    <tbody>
      <%
        for(var i = 0; i < this.role.dependencies.length; i++) {
          var dependency = this.role.dependencies[i];
      %>
      <tr>
        <td class="middleware">
          <select name="middleware">
            <option></option>
            <% for(var j = 0; j < this.middlewares.length; j++) { %>
            <option value="<%- this.middlewares[j].id %>"><%- this.middlewares[j].name %></option>
            <% } %>
          </select>
        </td>
        <td class="delete"><span class="button glyphicon glyphicon-remove"></span></td>
      </tr>
      <%
      }
      %>

      <% if(!this.options.readonly) { %>
      <%= this.partial('editors/_dependencies_new') %>
      <% } %>
    </tbody>
  </table>
</div>
