<ul class="editonly">
  <li class="button glyphicon glyphicon-import disable" data-i18n="[title]common.header.import"></li>
  <li class="button glyphicon glyphicon-floppy-disk save" data-i18n="[title]common.header.save"></li>
</ul>
<ul class="editonly">
  <li class="button glyphicon glyphicon-step-backward disable" data-i18n="[title]common.header.undo"></li>
  <li class="button glyphicon glyphicon-step-forward disable" data-i18n="[title]common.header.redo"></li>
</ul>
<ul class="editonly">
  <li class="button glyphicon glyphicon-circle-arrow-up zorder-top" data-i18n="[title]common.header.top"></li>
  <li class="button glyphicon glyphicon-arrow-up zorder-up" data-i18n="[title]common.header.front"></li>
  <li class="button glyphicon glyphicon-arrow-down zorder-down" data-i18n="tle]common.header.rear"></li>
  <li class="button glyphicon glyphicon-circle-arrow-down zorder-bottom" data-i18n="[title]common.header.bottom"></li>
</ul>
<ul>
  <li class="button glyphicon glyphicon-zoom-in zoom-in" data-i18n="[title]common.header.zoom_in"></li>
  <li class="button glyphicon glyphicon-zoom-out zoom-out" data-i18n="[title]common.header.zoom_out"></li>
</ul>
<ul>
  <li id="toolbox" class="button dialog-toggle glyphicon glyphicon-pencil editonly" data-i18n="[title]common.header.toolbox"></li>
  <li id="detail" class="button dialog-toggle glyphicon glyphicon-info-sign" data-i18n="[title]common.header.detail"></li>
  <li id="xml_viewer" class="button dialog-toggle glyphicon glyphicon-list-alt" data-i18n="[title]common.header.xml_viewer"></li>
  <li id="user_parameters" class="button dialog-toggle glyphicon glyphicon-th-list provisioningonly" data-i18n="[title]common.header.parameter"></li>
  <li id="cloud_entry_points" class="button dialog-toggle glyphicon glyphicon-cloud provisioningonly" data-i18n="[title]common.header.select_cloud_entry_point"></li>
</ul>
<ul>
  <li id="middlewares" class="button dialog-toggle glyphicon glyphicon-cog" data-i18n="[title]common.header.middlewares"></li>
  <li id="roles" class="button dialog-toggle glyphicon glyphicon-ok-sign" data-i18n="[title]common.header.roles"></li>
  <li id="property" class="button dialog-toggle glyphicon glyphicon-tasks" data-i18n="[title]common.header.property"></li>
</ul>
<ul>
  <li id="helpWindow" class="button glyphicon glyphicon-question-sign" data-i18n="[title]common.header.help"></li>
</ul>
<ul class="right">
</ul>
