<div>
  <table>
    <tbody>
      <tr>
        <th><label for="infrastructure_id">ID: </label></th>
        <td><input type="input" id="infrastructure_id" value="<%- infrastructure_id %>"></td>
      </tr>
      <tr>
        <th><label for="name">Name: </label></th>
        <td><input type="input" id="name" value="<%- name %>"></td>
      </tr>
      <tr>
        <th><label for="width">Width: </label></th>
        <td><input type="range" id="width" max="1840" min="160" step="10" value="<%- width %>"></td>
      </tr>
      <tr>
        <th><label for="height">Height: </label></th>
        <td><input type="range" id="height" max="920" min="160" step="10" value="<%- height %>"></td>
      </tr>
    </tbody>
  </table>
</div>
