<div class="scrollable">
  <table>
    <tbody>
      <tr>
        <th><label for="roting">Routing Table: </label></th>
        <td><span id="routing" class="button glyphicon glyphicon-retweet"></span></td>
      </tr>
      <tr>
        <th><label for="nat">NAT: </label></th>
        <td><span id="nat" class="button glyphicon glyphicon-sort"></span></td>
      </tr>
    </tbody>
  </table>
</div>
