<ul>
  <li class="button glyphicon glyphicon-arrow-up" id="cursor" data-i18n="[title]template.toolbox.cursor"></li>
  <li class="button glyphicon glyphicon-cloud" id="infrastructure" data-i18n="[title]template.toolbox.add_infrastructure"></li>
  <li class="button glyphicon glyphicon-link" id="link" data-i18n="[title]template.toolbox.add_link"></li>
  <li class="button glyphicon glyphicon-transfer" id="network" data-i18n="[title]template.toolbox.add_network"></li>
  <li class="button glyphicon glyphicon-tags" id="machine_group" data-i18n="[title]template.toolbox.add_machine_group"></li>
  <li class="button glyphicon glyphicon-hdd" id="volume" data-i18n="[title]template.toolbox.add_volume"></li>
  <li class="button glyphicon glyphicon-eye-open" id="monitor_machine_group" data-i18n="[title]template.toolbox.add_monitor_machine_group"></li>
  <li class="button glyphicon glyphicon-retweet" id="router" data-i18n="[title]template.toolbox.add_router"></li>
</ul>
