<div class="scrollable">
  <table class="table table-bordered index-table table-condensed">
    <thead>
      <tr>
        <th class="key">Key</th>
        <th class="delete">Delete</th>
      </tr>
    </thead>
    <tbody>
      <%
        var user_input_keys = this.caller instanceof joint.shapes.cc.MachineGroup ? this.caller.get("user_input_keys") : this.caller.user_input_keys;
        for(var i = 0; i < user_input_keys.length; i++) {
          var user_input_key = user_input_keys[i];
      %>
      <tr>
        <td class="key"><input type="text" name="key" value="<%- user_input_key %>" placeholder="Key"></td>
        <td class="delete"><span class="button glyphicon glyphicon-remove"></span></td>
      </tr>
      <%
      }
      %>

      <% if(!this.options.readonly) { %>
      <%= this.partial('editors/_user_input_keys_new') %>
      <% } %>
    </tbody>
  </table>
</div>

